.List{
    display: flex;
    flex-direction:column;
    gap: 0px;
}


.List > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(220,220,220);
    padding: 15px 0px;
}

.List > input:focus{
    outline: none;
    border-bottom: 1px solid rgb(37, 147, 255);
}



.List .todos_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px
}


.List .Filter-list{
    display: flex;
  justify-content: space-between; /* 제목과 필터를 좌우로 떨어뜨림 */
  align-items: center; /* 수직 중앙 정렬 */
}